<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Chango|Montserrat:300,400,600,700,900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <title>HIV Fighters</title>
</head>
<body>
    <main id="app">
            <div class="popup">
                <div class="popup-box">
                    <div class="popup-container">
                        <h2>Become Stronger With Us</h2>
                        <p>Here our local community and health organization that can help you any time with any questions!
                            <br>
                            #endstigma with us!
                        </p>
                        <div class="popup-row">
                            <a href="http://www.hivaidsconnection.ca/?fbclid=IwAR0PIFTmEEtMPGokZQXNUNhnal7iqDgoTpJWpu0kyYbpY2sCzg2Njkjpb7M" target="_blank">
                                <img src="images/logo_hiv.png" alt="hiv-logo">
                            </a>
                            <a href="https://lihc.on.ca/?fbclid=IwAR2s5qni1smsVZvtMn01FxW9mVTMLVFwIFlPXh1EDqcKQcVikX4eyptuAPo" target="_blank">
                                <img src="images/logo_LICHC.png" alt="lihc-logo">
                            </a>
                        </div>
                        <a href="https://www.healthunit.com/?fbclid=IwAR2c3OaaAjs7TLOPKCmD8XmfiVdPueskNlEcWxbp1DQBZ36wlbgwIjdA4n8" target="_blank" class="popup-box-img">
                            <img src="images/logo_ML.png" alt="ml-logo">
                        </a>
                    </div>
                </div>
            </div>
            <header v-show="$route.meta.mainpageheader">
                    <div class="container header-container">
                        <div class="header-left">
                            <a class="header-left-link" href="index.html" >
                                <img src="images/logo.svg" alt="logo">
                            </a>
                            <div class="header-left-burger">
                                <img src="images/burger-red.svg" alt="burger-img">
                            </div>
                            <div class="header-left-nav">
                                <a href="#pink">Love</a>
                                <a href="#green">Treatment</a>
                                <a href="#orange">Protection</a>
                                <a href="#blue">Connection</a>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="header-right-list">
                                <img v-if="authenticated" v-on:click="logout()" src="images/in_out.svg" alt="logout">
                                <router-link to="/admin" v-if="!authenticated">
                                    <img src="images/login1.svg" alt="profile">
                                </router-link>
                                <img v-if="authenticated" class="settings-icon" src="images/settings1.svg" v-on:click="settings()" v-if="administrator" alt="settings">
                            </div>
                            <img src="images/purple-round.svg" alt="" class="header-right-img">
                        </div>
                    </div>
            </header>
            <router-view @authenticated="setAuthenticated"></router-view>
    </main>
    <footer v-show="$route.meta.mainpagefooter">
        <div class="container footer-container" >
            <div class="footer-nav">
                <div class="footer-nav-col">
                    <a href="#">Home</a>
                    <a href="#">News</a>
                    <a href="#">About</a>
                </div>
                <div class="footer-nav-col">
                    <a href="#">Log In</a>
                    <a href="#">Log Out</a>
                    <a href="#">Settings</a>
                </div>
            </div>
            <div class="footer-contact">
                <h3>Contact us</h3>
                <div class="footer-contact-socials">
                    <img src="images/fb.svg" alt="facebook">
                    <img src="images/twit.svg" alt="twitter">
                    <img src="images/ytube.svg" alt="youtube">
                    <img src="images/insta.svg" alt="instagram">
                    <img src="images/snapch.svg" alt="snapchat">
                </div>
            </div>
            <div class="footer-email">
                <h3>Subscribe to our newsletter</h3>
                <form class="footer-email-input">
                    <input type="email">
                    <button type="submit">
                        <img src="images/plane.svg" alt="plane">
                    </button>
                </form>
            </div>
        </div>
    </footer>
    
    <script defer src="js/main.js" type="module"></script>
</body>
</html>