// 
// Styles for mobile version
// 
header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    z-index:30;
}

.header-container{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-left{
    width:50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a{
        width: 70px;

        img{
            width:100%;
        }
    }
}

.header-left-burger{
    width:50px;

    img{
        width:100%;
    }
}

.header-left-nav{
    display: none;
}

.header-right{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.header-right-img{
    position: absolute;
    top:50%;
    left:-30px;
    transform: translateY(-50%);
    width:260px;
}

.header-right-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100px;
    z-index: 10;

    img{
        width:20px;
    }
}

// 
// Styles for the tablet version
// 
@media screen and (min-width:720px){
    .header-left{
        width:60%;
    }

    .header-left-burger{
        display: none;
    }

    .header-left-nav{
        display: flex;
        flex-direction: row;
        align-items: center;

        a{
            text-decoration: none;
            color: black;
            font-family: 'Montserrat';
            font-size:16px;
            margin-right: 18px;
        }
    }

    .header-right-list{
        width:120px;
    }

    .header-right-img{
        left:110px;
    }
}

// 
// Styles for desktop version
// 
@media screen and (min-width:1200px){
    .header-right-img{
        left:300px;
    }

    .header-right-list img{
        cursor: pointer;
    }

    .header-left-nav a:hover{
        transition: 0.7s all ease-in-out;
    }

    .header-left-nav a:hover{
        color: $red;
    }
}