// 
// Styles for the mobile version
// 

.main-content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Hero section
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-boy{
    width:200px;
    z-index: 10;

    .hero-boy-img{
        display: none;
    }

    .hero-boy-mobile{
        width:100%;
    }
}

.hero-text{
    position: relative;

    img{
        z-index: -1;
        position: absolute;
        top:5%;
        left:50%;
        transform: translate(-50%, -59%);
        width:290%;
    }
}

.hero-text-content{
    z-index:5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:20px;
    color:white;

    p{
        margin-top:10px;
    }
}

.disclaimer-section{
    margin-top:90px;
}

.disclaimer-container{
    display:flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-align: center;
        color: #FF1B4A;
        margin-bottom: 30px;
    }

    p{
        text-align: center;
        margin-bottom: 50px;
    }

    h2{
        text-align: center;
        color: #FF1B4A;
        margin-top: 40px;
    }
}

.disclaimer-socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:320px;

    img{
        cursor:pointer;
        width:47px;
    }
}

.character-section{
    background-size: 530%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height:900px;
}

.character-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.character-container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:25px;

    h2{
        color:white;
    }

    h3{
        margin-top:10px;
        color:white;
    }

    p{
        margin-top:20px;
        text-align: start;
        color:white;
    }
}

.character-container-img{
    display: none;
}

.character-container-img-mobile{
    display: block;
    width:100%;
}

.character-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:25px;
}

.character-button{
    width:150px;
    height:40px;
    border-radius: 30px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#pink{
    background-image: url('../images/bg_pink.svg');

    .character-button{
        color: $pink;
    }
}

#green{
    background-image: url('../images/bg_green.svg');
    background-size: 530%;
    background-position-y: 310%;
    background-position-x: center;

    .character-button{
        color: $green;
    }
}

#orange{
    background-image: url('../images/bg_orange.svg');
    background-size: 530%;
    background-position-y: -10%;
    background-position-x: 72%;

    .character-button{
        color: $orange;
    }
}

#blue{
    background-image: url('../images/bg_blue.svg');
    background-size: 540%;
    background-position-y: top;

    .character-button{
        color: $blue;
    }
}

.main-content-section:last-child{
    margin-bottom: 100px;
}



//
// Styles for tablet version
//
@media screen and (min-width:720px){
    .hero-section{
        margin-top:50px;
    }
    
    .hero-container{
        width:720px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .hero-boy{
        width:25%;

        .hero-boy-img{
            display: block;
            width:100%;
        }
    }

    .hero-boy-mobile{
        display: none;
    }

    .hero-text{
        width:51%;

        img{
            top:50%;
            transform: translate(-60%, -50%);
            width:350%;
        }
    }

    .hero-text-content{
        align-items: flex-start;
        text-align: start;
        margin-top:0px;

        p{
            margin-top:25px;
        }
    }

    .disclaimer-section{
        margin-top:100px;
        margin-bottom: 60px;
    }

    .character-container-img-mobile{
        display: none;
    }

    .character-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .character-container-content{
        align-items: flex-start;
        text-align: start;
        width:70%;

        h3{
            margin-top:15px;
        }

        p{
            margin-top:25px;
        }
    }

    .character-container-img-tablet{
        display: block;
        width:20%;
    }

    .character-buttons {
        justify-content: flex-start;
        margin-top:30px;

        a:last-child{
            margin-left:30px;
        }
    }

    .character-section{
        height:660px;
        background-size: 240%;
        background-position-y: 73%;
        background-position-x: center;
    }

    #green{
        background-size: 197%;
        background-position-y: 34%;
        background-position-x: 73%;

        .character-container{
            flex-direction: row-reverse;
        }
    }

    #orange{
        background-size: 191%;
        background-position-y: 35%;
        background-position-x: 33%;
        height: 703px;
    }

    #blue{
        background-size: 200%;
        background-position-y: top;
    }
}