// 
// Styles for the mobile version
// 

.main-content{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Hero section
.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-boy{
    width:200px;
    z-index: 10;

    .hero-boy-img{
        display: none;
    }

    .hero-boy-mobile{
        width:100%;
    }
}

.hero-text{
    position: relative;

    img{
        z-index: -1;
        position: absolute;
        top:5%;
        left:50%;
        transform: translate(-50%, -59%);
        width:290%;
    }
}

.hero-text-content{
    z-index:5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top:20px;
    color:white;

    p{
        margin-top:10px;
    }
}

.disclaimer-section{
    margin-top:90px;
}

.disclaimer-container{
    display:flex;
    flex-direction: column;
    align-items: center;

    h1{
        text-align: center;
        color: #FF1B4A;
        margin-bottom: 30px;
    }

    p{
        text-align: center;
        margin-bottom: 50px;
    }

    h2{
        text-align: center;
        color: #FF1B4A;
        margin-top: 40px;
    }
}

.disclaimer-socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:320px;

    img{
        cursor:pointer;
        width:47px;
    }
}

.character-section{
    background-size: 530%;
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height:900px;
}

.character-container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.character-container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:25px;

    h2{
        color:white;
    }

    h3{
        margin-top:10px;
        color:white;
    }

    p{
        margin-top:20px;
        text-align: start;
        color:white;
    }
}

.character-container-img{
    display: none;
}

.character-container-img-mobile{
    display: block;
    width:100%;
}

.character-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-top:25px;
}

.character-button{
    width:150px;
    height:40px;
    border-radius: 30px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#pink{
    background-image: url('../images/bg_pink.svg');

    .character-button{
        color: $pink;
    }
}

#green{
    background-image: url('../images/bg_green.svg');
    background-size: 530%;
    background-position-y: 310%;
    background-position-x: center;

    .character-button{
        color: $green;
    }
}

#orange{
    background-image: url('../images/bg_orange.svg');
    background-size: 530%;
    background-position-y: -10%;
    background-position-x: 72%;

    .character-button{
        color: $orange;
    }
}

#blue{
    background-image: url('../images/bg_blue.svg');
    background-size: 540%;
    background-position-y: top;

    .character-button{
        color: $blue;
    }
}

.main-content-section:last-child{
    margin-bottom: 100px;
}



//
// Styles for tablet version
//
@media screen and (min-width:720px){

}