
    
.settings-page {

    background: url('../images/bg_login_2.svg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .form-style-update {

        form {
            margin-bottom: 20px;
        }
    
    
        .align-items-center-update {
            width: 300px;
            margin: 0 auto;
        }
    
            background: white;
            width: 360px;
            height: 620px;
            margin: 130px auto;
            border-radius: 35px;
    
            input{
    
                width: 300px;
                background: transparent;
                -webkit-background:  transparent;
                -webkit-autofill: none;
                border: 2px solid $red;
                outline: 0;
                margin-bottom: 20px;
                height: 30px;
                border-radius: 10px;
            }
        
            input::placeholder {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                font-size: 17px;
                
            }
    
            textarea {
    
                width: 300px;
                background: transparent;
                -webkit-background:  transparent;
                -webkit-autofill: none;
                border: 2px solid $red;
                outline: 0;
                margin-bottom: 20px;
                height: 60px;
                border-radius: 10px;
        
                }
        
                .colortext {
                    padding-top: 2px;
                }
        
                textarea::placeholder {
                    padding-top: 5px;
                }
            
    }

    .form-style-content-create {

        form{
            margin-top: 20px;
            margin-bottom: 10px;
        }

        background: white;
        width: 350px;
        height: 560px;
        margin: 130px auto;
        border-radius: 35px;

        textarea {

        width: 300px;
        background: transparent;
        -webkit-background:  transparent;
        -webkit-autofill: none;
        border: 2px solid $red;
        outline: 0;
        margin-bottom: 20px;
        height: 60px;
        border-radius: 10px;

        }

        .colortext {
            padding-top: 2px;
        }

        textarea::placeholder {
            padding-top: 5px;
        }

        .align-items-center-create {
            width: 300px;
            margin: 0 auto;
        }

        input{

            width: 300px;
            background: transparent;
            -webkit-background:  transparent;
            -webkit-autofill: none;
            border: 2px solid $red;
            outline: 0;
            margin-bottom: 20px;
            height: 30px;
            border-radius: 10px;
        }
    
        input::placeholder {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 17px;
            
        }

        #con-create-style {
            
            border: none;
            
        }

       

    }

    .form-style-delete {

        background: white;
        width: 375px;
        height: 600px;
        margin: 180px auto;
        border-radius: 35px;

        table {
            width: 350px;
            font-size: 10px;
            
        }

        td {
            height: 30px;
           
       
        }


        thead {
            height: 50px;
        }

        

    }
    
    .routes-flex 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    .style-link 
    {
        text-decoration: none;
        color: $red;
        font-family: 'Chango';
        font-size: 23px;
        display: inline-block;
        margin: 20px auto 0 auto;
    }
    
    .style-link:hover {

        color: #b62487;
    }
    
    .form-style 
    {
        background: #fff;
        width: 300px;
        height: 360px;
        margin: 30px auto 30px auto;
        border-radius: 35px;
    
        input
        {

        width: 220px;
        background: transparent;
        -webkit-background:  transparent;
        -webkit-autofill: none;
        border: 2px solid $red;
        outline: 0;
        margin-bottom: 20px;
        height: 30px;
        border-radius: 35px;

        }
        
        input::placeholder 
        {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 17px;
                
        }

    }
    
    h2

    {
    color: $red;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    }
    
    .align-items-center {
    width: 220px;
    margin: 0 auto;
    }
    
    .not-display {
        display: none;
    }
         
    
    table {
        margin-left: 15px;
        margin-right: 15px;
        width: 800px;
        text-align: center;
    
    }
    
    th {

        font-family: 'Montserrat', sans-serif;
        text-align: center;
        padding-bottom: 15px;
            
    }
    
    td {
        font-family: 'Montserrat', sans-serif;
        max-width: 300px;
            
    }
    
    .colortext{
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            text-align: center;
    
    }
    
    .deleteuserbutton {

        margin-top:10px;
        width:100px;
        background-color: $red;
        border-radius: 35px;
        height: 30px;
        border: none;
        outline: 0;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        cursor: pointer;
        transition: all .4s ease;
    
    }
    
    .deleteuserbutton:hover {

        background-color: $pink;
    
    
    }
    
    .submit-button{

        margin: 0 auto;
        width:120px;
    
        button {

            margin-top:10px;
            width:120px;
            background-color: $red;
            border-radius: 35px;
            height: 35px;
            border: none;
            outline: 0;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            cursor: pointer;
            transition: all .4s ease;
    
    
        }
    
        button:hover {

            background-color: $pink;
        }
    
    
    }
    
    
    
}
    


@media screen and (min-width:768px){

    
    .settings-page {


        .form-style-delete {
            background: white;
            width: 600px;
            height: 600px;
            margin: 180px auto;
            border-radius: 35px;
    
            table {
                width: 590px;
                font-size:16px;
            }
    
            td {
                height: 30px;
                
            }
    
            
    
            thead {
                height: 50px;
    
            }
    
        }

    
        .form-style-update {
    
    
        .align-items-center-update {
                width: 300px;
                margin: 0 auto;
        }
    
            background: white;
            width: 400px;
            height: 620px;
            margin: 130px auto;
            border-radius: 35px;
    
            input{
    
                width: 300px;
                background: transparent;
                -webkit-background:  transparent;
                -webkit-autofill: none;
                border: 2px solid $red;
                outline: 0;
                margin-bottom: 20px;
                height: 30px;
                border-radius: 10px;
            }
        
            input::placeholder {
                font-family: 'Montserrat', sans-serif;
                text-align: center;
                font-size: 17px;
                
            }
    
            textarea {
    
                width: 300px;
                background: transparent;
                -webkit-background:  transparent;
                -webkit-autofill: none;
                border: 2px solid $red;
                outline: 0;
                margin-bottom: 20px;
                height: 60px;
                border-radius: 10px;
        
                }
        
                .colortext {
                    padding-top: 2px;
                }
        
                textarea::placeholder {
                    padding-top: 5px;
                }
            
        }
    

        .style-link {
            text-decoration: none;
            color: $red;
            font-family: 'Chango';
            font-size: 35px;
            display: inline-block;
            margin: 50px auto 0 auto;
        }
    
        .style-link:hover {
            color: #b62487;
        }
    
    .form-style 
    {
        background: #fff;
        width: 400px;
        height: 400px;
        margin: 30px auto 30px auto;
        border-radius: 35px;
    
        input
        {

        width: 220px;
        background: transparent;
        -webkit-background:  transparent;
        -webkit-autofill: none;
        border: 2px solid $red;
        outline: 0;
        margin-bottom: 20px;
        height: 30px;
        border-radius: 35px;

        }
        
        input::placeholder 
        {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        font-size: 17px;
                
        }

    }
    
    h2

    {
    color: $red;
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    }
    
    .align-items-center {
    width: 220px;
    margin: 0 auto;
    }
    
    .not-display {
        display: none;
    }
    
       
    
        table {
            margin-left: 15px;
            margin-right: 15px;
            width: 800px;
            text-align: center;
    
        }
    
        th {
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            text-align: center;
            padding-bottom: 15px;
            
    
        }
    
        td {
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            max-width: 300px;
            
        }
    
        .colortext{
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            text-align: center;
    
        }
    
        .deleteuserbutton {
            margin-top:10px;
            width:100px;
            background-color: $red;
            border-radius: 35px;
            height: 30px;
            border: none;
            outline: 0;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            cursor: pointer;
            transition: all .4s ease;
    
        }
    
        .deleteuserbutton:hover {
            background-color: $pink;
    
    
        }
    
    .submit-button{
            margin: 0 auto;
            width:120px;
    
            button {
                margin-top:10px;
                width:120px;
                background-color: $red;
                border-radius: 35px;
                height: 35px;
                border: none;
                outline: 0;
                color: white;
                font-family: 'Montserrat', sans-serif;
                font-size: 17px;
                cursor: pointer;
                transition: all .4s ease;
    
    
            }
    
            button:hover {
                background-color: $pink;
    
    
            }
    
    
    }
    
    
    
    }
    
}

@media screen and (min-width:1200px){
.settings-page {
    background: url('../images/bg_login_2.svg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .routes-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form-style-delete {
        background: white;
        width: 850px;
        height: 600px;
        margin: 180px auto;
        border-radius: 35px;

        table {
            width: 800px;
        }

        td {
            height: 30px;
        }

        thead {
            height: 50px;
        }

        

    }

    .form-style-update {

    #con-create-style {
            
            border: none;
            
    }

    .align-items-center-update {
            width: 300px;
            margin: 0 auto;
    }

        background: white;
        width: 400px;
        height: 620px;
        margin: 130px auto;
        border-radius: 35px;

        input{

            width: 300px;
            background: transparent;
            -webkit-background:  transparent;
            -webkit-autofill: none;
            border: 2px solid $red;
            outline: 0;
            margin-bottom: 20px;
            height: 30px;
            border-radius: 10px;
        }
    
        input::placeholder {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 17px;
            
        }

        textarea {

            width: 300px;
            background: transparent;
            -webkit-background:  transparent;
            -webkit-autofill: none;
            border: 2px solid $red;
            outline: 0;
            margin-bottom: 20px;
            height: 60px;
            border-radius: 10px;
    
            }
    
            .colortext {
                padding-top: 2px;
            }
    
            textarea::placeholder {
                padding-top: 5px;
            }
        
    }

    .form-style-content-create {

        form{
            margin-top: 20px;
        }
        background: white;
        width: 400px;
        height: 550px;
        margin: 130px auto;
        border-radius: 35px;

        textarea {

        width: 300px;
        background: transparent;
        -webkit-background:  transparent;
        -webkit-autofill: none;
        border: 2px solid $red;
        outline: 0;
        margin-bottom: 20px;
        height: 60px;
        border-radius: 10px;

        }

        .colortext {
            padding-top: 2px;
        }

        textarea::placeholder {
            padding-top: 5px;
        }

        .align-items-center-create {
            width: 300px;
            margin: 0 auto;
        }

        input{

            width: 300px;
            background: transparent;
            -webkit-background:  transparent;
            -webkit-autofill: none;
            border: 2px solid $red;
            outline: 0;
            margin-bottom: 20px;
            height: 30px;
            border-radius: 10px;
        }
    
        input::placeholder {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 17px;
            
        }

        #con-create-style {
            
            border: none;
            
        }

       

    }

    .style-link {
        text-decoration: none;
        color: $red;
        font-family: 'Chango';
        font-size: 35px;
        display: inline-block;
        margin: 50px auto 0 auto;
    }

    .style-link:hover {
        color: #b62487;
    }

    .form-style {
        background: #fff;
        width: 400px;
        height: 400px;
        margin: 240px 0 240px 0;
        border-radius: 35px;

        input{
            width: 220px;
            background: transparent;
            -webkit-background:  transparent;
            -webkit-autofill: none;
            border: 2px solid $red;
            outline: 0;
            margin-bottom: 20px;
            height: 30px;
            border-radius: 35px;
        }
    
        input::placeholder {
            font-family: 'Montserrat', sans-serif;
            text-align: center;
            font-size: 17px;
            
        }
    }

    h2 {
        color: $red;
        text-align: center;
        padding-top:30px;
        padding-bottom: 30px;
    }

    .align-items-center {
        width: 220px;
        margin: 0 auto;
    }

    .not-display {
        display: none;
    }

   

    table {
        margin-left: 15px;
        margin-right: 15px;
        width: 800px;
        text-align: center;

    }

    th {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        text-align: center;
        padding-bottom: 15px;
        

    }

    td {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        max-width: 300px;
        
    }

    .colortext{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        text-align: center;

    }

    .deleteuserbutton {
        margin-top:10px;
        width:100px;
        background-color: $red;
        border-radius: 35px;
        height: 30px;
        border: none;
        outline: 0;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        cursor: pointer;
        transition: all .4s ease;

    }

    .deleteuserbutton:hover {
        background-color: $pink;


    }

.submit-button{
        margin: 0 auto;
        width:120px;

        button {
            margin-top:10px;
            width:120px;
            background-color: $red;
            border-radius: 35px;
            height: 35px;
            border: none;
            outline: 0;
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 17px;
            cursor: pointer;
            transition: all .4s ease;


        }

        button:hover {
            background-color: $pink;


        }


}



}

}